.linea{        
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 2px 0;    
}

.burger{
    display: inline-flex;
    flex-direction: column;
    margin-right: 30px ;
    margin-top: 23px;
    margin-left: 4px;
}

.immagine{
    margin-top: 35px;
    margin-left: 20px;
}

.immagine2{
    width: 2%;
    height: 2%;
    margin-top: 25px;
    margin-left: 20px;
}

.icone{
    margin-left: 120px;
}
.container{
    display: flex;
    margin-left: 1em;
    position: static; 
}

.barraDiRicerca{
    border-radius: 10px;
    width: 600px;
    height: 35px;
    margin-top: 23px;
    margin-left: 200px;
}

.ricerca{
    position: absolute;
    border-radius: 10px;
    border-top: 1;    
    top: 38px;
    left: 930px;
    width: 30px;
    height: 23px;
}

.utente{
    position: absolute;
    top: 25px;
    left: 1140px;
    background-color: brown;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    margin-left: 100px;
}

.iconePosizioni{
    display: inline-flex;
    flex-direction: column;
    margin-left: -20px;
    height: 576px;
    width: 200px;
    overflow: auto;
}

.navigatori{
    display: flex;
    margin-left: 20px;
    margin-top: 5px;
    height: 30px;
    overflow-inline: auto;
}

.bottone{
    width: 120px;
    height: 30px;
    margin: 2px;
    border-radius: 5px;
    border-color: gray;
}

.riquadri{
    width: 200px;
    height: 200px;
    background-color: red;
    margin-left: 25px;
    margin-top: 8px;
}

.posizioneVideo{
    display: flex;
    margin-bottom: 10px; 
    justify-content: right;
}

/*

Mettere nel vue

main div:hover{
    transform: scale(1.1);
}

*/

@media screen and (max-width: 600px) {
    html{
        overflow: scroll;
    }
    .riquadri{
        width: 100px;
        height: 100px;
        background-color: blue;
        margin-left: 32px;
        margin-top: 8px;
    }
}

.prova{
    display: flexbox;
}

html::-webkit-scrollbar {
    width: 2px;
}

html::-webkit-scrollbar-thumb {
    background-color: grey;
}

html::-webkit-scrollbar-track {
    background-color: grey;
}