.linea{        
    width: 20px;
    height: 3px;
    background-color: black;
    margin-bottom: 2px;
}

.burger{
    display: inline-flex;
    flex-direction: column;
    margin-right: 5% ;
    margin-top: 18%;
    margin-left: 5%;
}

.immagine{
    margin-top: 10%;
    margin-left: 8%;
}

.immagine2{
    width: 25px;
    height: 25px;
    margin-top: 19px;
    margin-left: 2%;
}
.container{
    display: flex;
    width: auto;
    justify-content: space-between;
    align-items: center;
}

.iconaRicerca{
    margin-top: 20px;
    margin-left: -30px;
    height: 30px; 
    background: none; 
    border: white;
}

.barraDiRicerca{
    border-radius: 10px;
    width: 70%;
    height: 30px;
    margin-top:20px;
    margin-left: 15%;
}

.ricerca{
    position: absolute;
    border-radius: 10px;
    border-top: 1;    
    top: 38px;
    left: 930px;
    width: 30px;
    height: 23px;
}

.utente{
    background-color: brown;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    margin-top:20px;
}

.iconePosizioni{
    display: inline-flex;
    flex-direction: column;
    margin-left: -25px;
    height:51%;
    width: 100%;
    overflow: auto;
}

.iconeLaterali{
    display: flex; 
    align-items: center; 
    margin-top: -25px;
}

main{
    width: 100%;
}

aside{
    width: 16%;
}

.navigatori{
    display: flex;
    height: 50px;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
}

.bottone{
    width: 120px;
    height: 30px;
    margin: 2px;
    border-radius: 5px;
    border-color: gray;
}

.riquadri{
    width: 200px;
    height: 200px;
    background-color: red;
    margin-left: 25px;
    margin-top: 8px;
}

.posizioneVideo{
    display: flex;
    margin-bottom: 10px; 
    justify-content: right;
}

.icone{
    display: flex;
    width: 10%; 
    align-items: baseline; 
    margin-top: 10px;
}

/*

Mettere nel vue

main div:hover{
    transform: scale(1.1);
}

*/

@media screen and (max-width: 600px) {
    html{
        overflow: scroll;
        width: 100%;
        height: 100%;
    }
    .riquadri{
        width: 100px;
        height: 100px;
        background-color: blue;
        margin-left: 32px;
        margin-top: 8px;
    }

    .immagine{
        display: none;
    }

    .immagine2{
        width: 25px;
        height: 25px;
        margin-top: 13px;
    }

    .utente{
        background-color: brown;
        border-radius: 0%;
        width: 80px;
        height: 32px;
        margin-top:20px;
        margin-left: -5px;
    }

    .icone{
        display: flex;
        justify-content: center;
        width: 10px; 
        align-items: baseline; 
        margin-top: -2px;
        margin-right: 25%;
    }

    .main{
        display: block;
        width: auto;
        width: 70%;
    }
    
    aside{
        width: 30%;
    }

    .barraDiRicerca{
        border-radius: 10px;
        width: 70%;
        height: 50%;
        margin-top:20px;
        margin-left: -10px;  
    }

    .bottone{
        width: 70px;
        height: 30px;
        margin: 2px;
        border-radius: 5px;
        border-color: gray;
    }

    .iconeLaterali{
        display: inline-flex;
        flex-direction: column;
        align-items: baseline;
    }
}

.prova{
    display: flexbox;
}

html::-webkit-scrollbar {
    width: 2px;
}

html::-webkit-scrollbar-thumb {
    background-color: grey;
}

html::-webkit-scrollbar-track {
    background-color: grey;
}