.linea{        
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 2px 0;    
}

.burger{
    display: inline-flex;
    flex-direction: column;
    margin-right: 30px ;
    margin-top: 23px;
    margin-left: 4px;
}

.immagine{
    margin-top: 35px;
    margin-left: 20px;
}

.immagine2{
    width: 30px;
    height: 25px;
    margin-top: 25px;
    margin-left: 20px;
}

.icone{
    margin-left: 120px;
}
.container{
    display: flex;
    margin-left: 1em;
    position: fixed;
}

.barraDiRicerca{
    border-radius: 10px;
    width: 600px;
    height: 35px;
    margin-top: 23px;
    margin-left: 200px;
}

.ricerca{
    position: absolute;
    border-radius: 10px;
    border-top: 1;    
    top: 38px;
    left: 930px;
    width: 30px;
    height: 23px;
}

.utente{
    position: absolute;
    top: 25px;
    left: 1140px;
    background-color: brown;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    margin-left: 100px;
}

.iconePosizioni{
    display: inline-flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: -20px;
}